.aboutme {
	font-family: sans-serif, arial;
	font-size: 18px;
}

.panel-body li:hover {
	opacity: 0.5;
}

.panel-default {
	margin-top: 20px;
}

.container {
	margin-bottom: 20px;
}

.thumbnail:hover {
	opacity: 0.5;
	color: green;
}	
@media only screen and (max-width: 768px) {

	.nav li{
	  display: inline-block;
	  text-align: center;
  	}

	.container-fluid {
		text-align: center;
	}

}