.panel-body li:hover {
	opacity: 0.5;
}

.thumbnail:hover {
	opacity: 0.5;
	color: green;
}	
@media only screen and (max-width: 768px) {

	.nav li{
	  display: inline-block;
	  text-align: center;
  	}

	.container-fluid {
		text-align: center;
	}

}